<!doctype html>
<html>
<head>
    <title>Konie</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
   <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
              <div id="horseContainer">
                   <div id="editHorse">
                    </div>
                   <div id="horse">
                      <div class="page-content inset">
                        <div class="col-md-12">
                        <p class="lead">Zarządzanie kontami</p>
                      </div>
                        <table id="accTab" class="display" cellspacing="0" width="100%">
                           <thead>
                                <tr>
                                    <th>Username</th><th>Imie</th><th>Nazwisko</th><th>Uprawnienia</th><th></th><th></th>
                                </tr>                    
                           </thead>
                           <tfoot id="tbody">

                           </tfoot>
                        </table>
                    </div>  
                    <script src="js/jquery-1.12.3.min.js"></script> 
                    <script src="js/jquery.dataTables.min.js"></script>
                    <script src="js/socket.io.js"></script>
                    <script src="js/accounts.js"></script>     
               </div>
          </div>
       </div>  
    </div>
</body>
</html>