<!doctype html>
<html>
<head>
    <title>Tworzenie zawodów</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
   <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
              <div id="competitionContainer">
                  <% include menu-toggle %>
                   <div id="errorWindow">
                   		<p class="lead">Błąd</p>
					   <h3 id=errorMessage>dfg</h3></br>
                   </div>
                   <div id="addCompetitionWindow">
                  		<p class="lead">Tworzenie zawodów</p>
                   		<table  class="table table-bordered table-striped">
                                <tr>
                                    <th>Nazwa zawodów</th><th>Punktacja</th><th>Ilość sędziów</th><th></th><th></th>
                                </tr>
                                <tr>
                                   <td><input id="nazwaZawodow"/></td>
                                   <td><select id="ocena"><option value="10">0..10</option><option value="20">0..20</option><option value="105">0..10 + 0.5</option><option value="205">0..20 + 0.5</option></select></td>
                                   <td><input id="liczbaSedziow"/></td>
                                   <td><button id="addCompetitionButt">Dodaj</button></td>
                                   <td><button id="cancelAddCompetition">Anuluj</button></td>
                                </tr>
                        </table>
                   </div>
                   <div id="addGroupWindow">
                  		<p class="lead">Dodawanie grupy</p>
                   		<table  class="table table-bordered table-striped">
                                <tr>
                                    <th>Nazwa grupy</th><th>Wybrana płeć</th><th></th><th></th>
                                </tr>
                                <tr>
                                   <td><input id="nazwaGrupy"/></td>
                                   <td><select id="plecGrupy"><option value="Koń">Konie</option><option value="Klacz">Klacze</option></select></td>
                                   <td><button id="addGroupButt">Dodaj</button></td>
                                   <td><button id="cancelAddGroup">Anuluj</button></td>
                                </tr>
                        </table>
                        <div id="horsesLeftTable" class="horsesLeftTable">                      
					    	<select id="horseLeftSelectList" size="20">
					   			
							</select>
                        </div>
                        <button id="fromLeftToRight">-></button>
                        <button id="fromRightToLeft"><-</button>
                        <div id="horsesRightTable" class="horsesRightTable">                      
					    	<select id="horseRightSelectList" size="20">
					   			
							</select>
                        </div>
                   </div>
                   <div id="showGroupsWindow">
                  		<p class="lead">Grupy w tych zawodach</p>
                  		<button id="showGroupsClose">Powrót</button>
                  		<table id="showGroupsTable" class="display" cellspacing="0" width="100%">
                           <thead>
                                <tr>
									<th>Nazwa</th><th>Aktywna</th><th>Oceniona</th><th>Start</th><th>Skład</th><th>Usun</th>
                                </tr>                    
                           </thead>
                           <tfoot>

                           </tfoot>
                        </table>
                        
                        <table id="showGroupJudges" class="display" cellspacing="0" width="100%">
                           <thead>
                                <tr>
									<th>Username</th><th>Imie</th><th>Nazwisko</th><th>Ponaglenie</th>
                                </tr>                    
                           </thead>
                           <tfoot>

                           </tfoot>
                        </table>
                        
                        <table id="showGroupHorses" class="display" cellspacing="0" width="100%">
                           <thead>
                                <tr>
									<th>Nazwa</th><th>Płeć</th><th>Data urodzenia</th><th>Hodowca</th>
                                </tr>                    
                           </thead>
                           <tfoot>

                           </tfoot>
                        </table>
				   </div>
                   <div id="homeWindow">           
                      <div class="page-content inset">
                      <button id="listAddCompetition">Dodaj Zawody</button>
                        <div class="col-md-12">
                        <p class="lead">Zawody</p>
						  </div>
                        <table id="compTable" class="display" cellspacing="0" width="100%">
                           <thead>
                                <tr>
                                    <th>Nazwa</th><th>Punktacja</th><th>Sędziowie</th><th>Start</th><th>Stop</th><th>Usun</th><th>Grupy</th><th>Dodaj Grupe</th>
                                </tr>                    
                           </thead>
                           <tfoot>

                           </tfoot>
                        </table>
                    </div>  
                    <script src="js/jquery-1.12.3.min.js"></script> 
                    <script src="js/jquery.dataTables.min.js"></script>
                    <script src="js/socket.io.js"></script>
                    <script src="js/underscore-min.js"></script>
                    <script src="js/createcompetition.js"></script>     
               </div>
          </div>
       </div>  
    </div>
</body>
</html>