<!doctype html>
<html>
<head>
    <title>Konie</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
  <div id="horseContainer">
       <div id="editHorse">
       </div>
       <div id="horse">
            <table id="horseTab">
                <tr>
                    <th>Nazwa</th><th>Płeć</th><th>Hodowca</th><th></th><th></th>
                </tr>
                <tr>
                   <td><input id="nazwa"/></td>
                   <td><select id="plec"><option value="Klacz">Klacz</option><option value="Koń">Koń</option></select></td>
                   <td><input id="hodowca"/></td>
                   <td><button id="addHorse">Dodaj</button></td>
                   <td></td>
                </tr>
            </table>
        </div>
        <script src="/socket.io/socket.io.js"></script> 
        <!-- <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>                
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.js"></script>-->
        <script src="js/horses.js"></script>
 </div>
</body>
</html>