<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Panel Administratora</a></li>
          <li><a href="/">Strona główna</a></li>
          <li><a href="/admin/">Podgląd administarora</a></li>
          <li><a href="/admin/horses">Zarządzanie koniami</a></li>
          <li><a href="/register">Rejestracja</a></li>
          <li><a href="/admin/accounts">Zarządzanie kontami</a></li>
        </ul>
</div>