<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/main.css" rel="stylesheet" media="screen"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
      <div class="page-content inset">
        <div class="row">
          <% include menu-toggle %>
          <div class="col-md-12">
            <h1>Zawody konne</h1>
            <p class="lead">Witamy na stronie zajmującej się zawodami konnymi.</p>
          </div>
          <% if (login) { %>
          	  <div class="alert alert-success" role="alert">
        			<strong>Gratulacje!</strong> Zostałeś poprawnie zalogowany.
      		  </div>
			  <p>Jesteś zalogowany jako: </br>
				Login : <%= user.username %></br>
				Imie : <%= user.imie %></br>
				Nazwisko : <%= user.nazwisko %></br>
				Masz uprawnienia : <b><%= user.role %></b></p><br/>
			  <% if (user.role == "admin") { %>
			  		<a href="/admin/horses" class="btn btn-info">Panel administratora</a><br/><br/>
			  <% } else { %>
		  			<a href="/judge/judgevoting" class="btn btn-info">Panel sędziego</a><br/><br/>	
         	  <% } %>
         	  <a href="/logout" class="btn btn-success">Logout</a><br/>
          <% } else { %>
           <a href="/login"><button class="btn btn-primary">Zaloguj się</button></a><br/>
          <% } %>
          </div>
      </div>
    </div>
    </div>
  </body>
</html>


 
