<!DOCTYPE html>
<html>
  <head>
    <title>Informacje</title>
    <meta charset="utf-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/main.css" rel="stylesheet" media="screen"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
		  <div class="page-content inset">
			<div class="row"><a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
			  <div class="col-md-12">
				<h1>Informacje</h1>
				<p class="lead">Tutaj znajdziesz podstawowe informacje dotyczące przeprowadzanych zawodów.</p>
			  </div>
			  <ol>
				  <li>Informacje o koniach:</li>
				  <ul>
					  <li>Nazwa</li>
					  <li>Płeć</li>
					  <li>Hodowca</li>
					  <li>Data urodzenia</li>
				  </ul>
				  <li>Informacje o sędziach:</li>
				  <ul>
					  <li>Nazwiska</li>
				  </ul>
				  <li>Konie wybiera administrator, w jednym wyścigu konie się nie powtarzają.</br>Każdy koń otrzymuje swój numer startowy.</li>
			 	  <li>Wybór sędziów:</li>
				  <ul>
					  <li>Ilość ustala administrator</li>
					  <li>Wybór jest losowy</li>
				  </ul>
				  <li>Punktacja ocen:</li>
				  <ul>
					  <li>Od 0 do 10</li>
					  <li>Od 0 do 20</li>
					  <li>Całe lub całe z połówkami</li>
				  </ul>
				  <li>Kategorie oceny:</li>
				  <ul>
					  <li>Typ</li>
					  <li>Głowa i szyja</li>
					  <li>Kłoda</li>
					  <li>Nogi</li>
					  <li>Ruch</li>
				  </ul>
				  <li>Ocena to średnia arytmetyczna ocen od głosujących sędziów.</li>
				  <li>W przypadku takiego samego wyniku porównujemy:</li>
				  <ul>
					  <li>Sumę arytmetyczną za typ</li>
					  <li>W razie dalszych niejasności porównujemy sumę arytmetyczną za ruch</li>
					  <li>Jeżeli te 3 rzeczy są identyczne mamy remis</li>
				  </ul>
				  <li>Ranking:</li>
				  <ul>
					  <li>W bazie przechowywane są jedynie oceny sędziów</li>
					  <li>Średnie wyliczane są na bieżąco w razie potrzeby</li>
				  </ul>
			  </ol>
			</div>
		  </div>
      </div>
    </div>
  </body>
</html>


 
