<a id="menu-toggle" href="/" class="btn btn-default">Strona główna</a>
<a id="menu-toggle" href="/login" class="btn btn-default">Logowanie</a>
<a id="menu-toggle" href="/informacje" class="btn btn-default">Informacje</a>
<a id="menu-toggle" href="/ranking" class="btn btn-default">Ranking zawodów</a>