<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Menu</a></li>
          <li><a href="/">Strona główna</a></li>
          <li><a href="/login">Logowanie</a></li>
          <li><a href="/informacje">Informacje</a></li>
          <!--<li><a href="/spectators">Podgląd zawodów</a></li>-->          
        </ul>
</div>