<!doctype html>
<html>
<head>
    <title>Głosowanie</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
   <div id="wrapper">
      <% include sidebar %>
      <div id="page-content-wrapper">
              <div id="Container">
				<div id="votingWindow">
					<div class="page-content inset">
						<div class="col-md-12">
							<p class="lead">Głosowanie</p>
						</div>
					</div>  
					<script src="js/jquery-1.12.3.min.js"></script> 
					<script src="js/jquery.dataTables.min.js"></script>
					<script src="js/socket.io.js"></script>
					<script src="js/judgevoting.js"></script>     
                 </div>
          </div>
       </div>  
    </div>
</body>
</html>